<h2>Viewing the <%= @name %> gallery</h2>

<a href="/galleries/<%= @gallery.id %>/edit">Edit this gallery</a>
<br />
<a href="/galleries/<%= @gallery.id %>/images/new">Create new image</a>
<br />
<form action="/galleries/<%= @gallery.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete gallery">
</form>

<ul>
  <% @gallery.images.each do |image| %>
    <li>
      <p><%= image.name %></p>
      <img width="30%" src="<%= image.url %>"/>
      <br />
      <form action="/galleries/<%= @gallery.id %>/images/<%= image.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete image">
      </form>
      <a href="/galleries/<%= @gallery.id %>/images/<%= image.id %>/edit">Edit Image</a>
    </li>
  <% end %>
</ul>
